*{
    margin: 0px;
    padding: 0px;
    font-style: 'Arial';
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 20px;
    width: 100px;
    padding: 8px;
}
.logo{
    background-image: url(1688364164amazon-logo-transparent.webp);
    background-size: cover;
    height: 30px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* ***** box2***** */

.add-first{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* *****Box2***** */

.nav-search{
    display: flex;
}